= admin_inject_json_ams_array "admin.pos", "addresses", @addresses, Api::Admin::AddressSerializer
= admin_inject_json_ams_array "admin.pos", "customers", @customers, Api::Admin::CustomerSerializer
= admin_inject_json_ams_array "admin.pos", "orders", @orders, Api::Admin::ForPos::OrderSerializer
= admin_inject_json_ams_array "admin.pos", "lineItems", @line_items, Api::Admin::ForPos::LineItemSerializer
= admin_inject_json_ams_array "admin.pos", "variants", @variants, Api::Admin::ForPos::VariantSerializer
= admin_inject_json_ams_array "admin.pos", "products", @products, Api::Admin::ForPos::ProductSerializer

.pos{ ng: { app: "admin.pos", controller: "POSCtrl" } }
  .row
    .small-5.columns
      %input.order-select{ type: 'hidden', ng: { model: "currentOrderID" }, data: "orders" }

    .small-7.columns
      %input{ type: "text", placeholder: "Search for a product", ng: { model: 'query' } }

  .row
    .small-5.columns.items
      .no-order-selected{ ng: { if: "!currentOrder" } }
        No Order Selected
      %table{ style: "width: 100%", ng: { if: "currentOrder" } }
        %tr
          %th Item
          %th Weight/Vol
          %th Qty
          %th Price
          %th Total
          %th &nbsp;
        %tr.item{ ng: {repeat: "lineItem in currentOrder.lineItems", show: "lineItem.quantity != 0"} }
          %td.item-name
            %strong {{ lineItem.variant.product.name }}
            %br
            {{ lineItem.variant.name_to_display }}
          %td
            {{ lineItem.options_text }}
          %td
            {{ lineItem.quantity }}
            -# %input{ type: 'number', ng: { model: 'lineItem.quantity' } }
          %td
            {{ lineItem.single_display_amount_with_adjustments }}
          %td.text-right
            %strong{ ng: { show: 'lineItem.display_amount_with_adjustments'} }
              {{ lineItem.display_amount_with_adjustments }}
            %img.spinner.small{ ng: {hide: 'lineItem.display_amount_with_adjustments' }, src: "/assets/spinning-circles.svg" }
          %td
            %h3
              %a.red{ ng: { click: 'removeLineItem(lineItem)'} }
                %i.icon-remove-sign
        %tr
          %td.text-right{colspan:"4"}
            = t :orders_form_subtotal
          %td.text-right
            %strong{ ng: { show: 'currentOrder.subtotal' } }
              {{ currentOrder.subtotal }}
            %img.spinner.small{ ng: { hide: 'currentOrder.subtotal' }, src: "/assets/spinning-circles.svg" }
          %td

        %tr
          %td.text-right{colspan:"4"}
            = t :orders_form_admin
          %td.text-right
            %strong{ ng: { show: 'currentOrder.admin_and_handling' } }
              {{ currentOrder.admin_and_handling }}
            %img.spinner.small{ ng: { hide: 'currentOrder.admin_and_handling' }, src: "/assets/spinning-circles.svg" }
          %td

        %tr
          %td.text-right{colspan:"4"}
            %strong= t :orders_form_total
          %td.text-right
            %strong{ ng: { show: 'currentOrder.display_total' } }
              {{ currentOrder.display_total }}
            %img.spinner.small{ ng: { hide: 'currentOrder.display_total' }, src: "/assets/spinning-circles.svg" }
          %td

        -# - if @order.total_tax > 0
        -#   %tr
        -#     %td.text-right{colspan:"3"} (includes tax)
        -#     %td.text-right
        -#       %span.order-total.tax-total= display_checkout_tax_total(@order)
        -#     %td

    .small-7.columns.variants
      %ul.small-block-grid-5
        %li.variant.text-center{ ng: { repeat: "variant in variants | posFilter:query", click: 'addLineItem(variant)' } }
          %img{ ng: { src: "{{::variant.product.primaryImageOrMissing}}" } }
          .product-name
            %strong {{ ::variant.product.name }}
          .variant-name
            {{ ::variant.full_name }}
