= admin_inject_json_ams_array "admin.pos", "addresses", @addresses, Api::Admin::AddressSerializer
= admin_inject_json_ams_array "admin.pos", "customers", @customers, Api::Admin::ForPos::CustomerSerializer
= admin_inject_json_ams_array "admin.pos", "orders", @orders, Api::Admin::ForPos::OrderSerializer
= admin_inject_json_ams_array "admin.pos", "lineItems", @line_items, Api::Admin::ForPos::LineItemSerializer
= admin_inject_json_ams_array "admin.pos", "variants", @variants, Api::Admin::ForPos::VariantSerializer
= admin_inject_json_ams_array "admin.pos", "products", @products, Api::Admin::ForPos::ProductSerializer

.pos{ ng: { app: "admin.pos", controller: "POSCtrl" } }
  .row
    .small-12.medium-6.large-5.columns
      = render 'cart'
    .small-12.medium-6.large-7.columns{ ng: { switch: 'config.view' } }
      = render 'products'
      = render 'pay'

    -# - if @order.total_tax > 0
    -#   %tr
    -#     %td.text-right{colspan:"3"} (includes tax)
    -#     %td.text-right
    -#       %span.order-total.tax-total= display_checkout_tax_total(@order)
    -#     %td
