%ul.side-nav#mini-nav
  = menu_icon 'icon-chevron-right'
  = menu_icon 'icon-dashboard'
  = menu_icon 'icon-shopping-cart'
  = menu_icon 'icon-th-large'
  = menu_icon 'icon-file'
  = menu_icon 'icon-map-marker'
  = menu_icon 'icon-repeat'
  = menu_icon 'icon-user'
  = menu_icon 'icon-wrench'

:coffee
  $('#mini-nav li>a').click (e) ->
    e.preventDefault()
    $('#wrap').toggleClass('minified-nav')
