%span.cart-span{"ng-controller" => "CartCtrl", "ng-class" => "{ dirty: Cart.dirty || Cart.empty(), 'pure-dirty': Cart.dirty }"}
  %a#cart.icon{cart: true}
    %span.nav-branded
      %i.ofn-i_027-shopping-cart
      %span
        {{ Cart.total_item_count() }}
        = t 'cart_items'

  .joyride-tip-guide{"ng-class" => "{ in: open }", "ng-show" => "open"}
    %span.joyride-nub.top
    .joyride-content-wrapper
      %h5
        = t 'cart_headline'

      %div{ ng: { show: 'Alteration' } }
        = render 'shared/menu/alteration/buttons'
        = render 'shared/menu/cart/items'
        = render 'shared/menu/alteration/buttons'
      %div{ ng: { hide: 'Alteration' } }
        = render 'shared/menu/cart/buttons'
        = render 'shared/menu/cart/items'
        = render 'shared/menu/cart/buttons'
        - if order_changes_allowed?
          = render 'shared/menu/cart/finalised_items'
